nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    max-width: 180px;
}

.nav-links {
     display: flex;
     gap: 5rem;
     list-style: none;
}

.nav-links a {
    color: #30E1FF;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration:overline;
}

