@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height:100vh;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    background-color: darkslategray;
    color: white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
